<!DOCTYPE html>
<html lang="en" ng-app="Study" ng-controller="StudyController">
<head>
<meta charset="utf-8">
<meta name="description" content="student transportation questionairre">
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<script src="../../lib/angular/angular.min.js"></script>
<script src="../../lib/angular-underscore-module/angular-underscore-module.js"></script>
<script src="../../lib/underscore/underscore.js"></script>
<script src="../../lib/angular-slider/slider.js"></script>
<link rel="stylesheet" type="text/css" href="../../lib/angular-slider/slider.css"/>
<script type="text/javascript" src="../../controllers/study.client.controller.js"> </script> 
</head>
<body>
    <div class="header"> Let's Go Mobile </div>
    <p class="introTitle">Hey students, </p>
         <p id="intro"> 
         	FED's wants to give us one more way to ride the GRT. A mobile app for iOS and Android that will let us board GRT buses, much like our watcards do now, might be coming soon. Of course, using app will not tamper with personal data on your phone, and don't worry, watcards will still work just like they do now.</p>

         	<p id="intro">Let us if you're interested, answer these questions below</p>

<br/><br/><br/>
<p class="question">1. Which phone do you have?</p>
<div ng-init="init()">
	<input type="search" id="textBox" ng-model="selectedItem " placeholder="Search...">
	<div class="HorizontalScroll">
		<ul>
			<li ng-repeat="phone in revisedText | filter:selectedItem track by $index">
				<div id="{{phone}}" ng-click="whenClicked(imageText[phone])">
					<div id="picture">
						<img ng-src="../phoneImages/{{imageText[phone].image}}" onerror="this.style.display='none'"/>
						<br/>
						{{phone}}
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<p class="question">2. Which term are you in? <!--lighter color-->eg. 3A </p>
<input id="textBox" type="text" ng-model="term" placeholder="">

<div class="question">3. How often do you use the bus?</div>

<!--slider here-->
<div class="noScroll">
	<ul>
		<li class="noScroll" ng-repeat="option in sliderOptions">
			<div ng-if="sliderOptions[calculateValue(sliderValue)] === option">
				<div id="bold">{{option}}</div>
			</div>
			<div ng-if="sliderOptions[calculateValue(sliderValue)] !== option">{{option}}</div>
		</li>
	</ul>
	<slider id="restrictedWidth" floor="0" ceiling="3" step="0.01" precision="1" ng-model="sliderValue" translate="calculateValue"></slider>
</div>

<p class="question">4. Would you use a safe mobile app that lets you ride the GRT, like your watcard does now?</p>
<input type="radio" ng-model="checkBox.yes" name="checkBox">yes<br/>
<input type="radio" ng-model="checkBox.no" name="checkBox">no
<div ng-show="checkBox.no"> <br/>
	<input id="textBox" type="text" ng-model="explanation" placeholder="Please explain">
</div>
<br/>
<input id="restrictedWidth" type="submit" value="Submit"> 
</body>
</html>
