<!DOCTYPE html>
<html lang="en" ng-app="Study">
<head>
<meta charset="utf-8">
<meta name="description" content="student transportation questionairre">
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<script src="../../lib/angular/angular.min.js"></script>
<script src="../../lib/angular-underscore-module/angular-underscore-module.js"></script>
<script src="../../lib/underscore/underscore.js"></script>
<script type="text/javascript" src="../../controllers/study.client.controller.js"> </script> 
</head>

<body>
    <p> Student interest on using mobile devices to board GRT buses </p>
        <p> The purpose of this questionaire is to gather general student interest in incorporating a mobile component to their GRT experiences. FED's is considering implementing a mobile application that will allow students with smartphones to board the GRT using their smartphones instead of their watcards. <i>This mobile app is meant as an ALTERNATIVE to using watcards, not a replacement.</i> </p>
<br/><br/><br/>

1. What phone do you have?

<div ng-controller="StudyController">
    {{hello}} 
</div>
<div ng-controller="UserCtrl" ng-init="init()">
	<div class="HorizontalScroll">
		<ul>
			<li ng-repeat="phone in imageText track by $index">
				<img ng-src="../phoneImages/{{phone.image}}" onerror="this.style.display='none'"/>
				<br/>
				{{phone.name}}
				<br/>
				{{phone.image}}
			</li>
		</ul>
	</div>
</div>

</body>
</html>
