body {
    background-color: #FFFAF7;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #5C2129; 
    page-break-after: always;
    page-break-before: always;

}
p {
	text-align: left;
}
div.header {
	height: 90px;
	background-color: #363636;
	font-size: 27px;
	color: #FFFAF7;
	vertical-align: middle;
	display:table-cell;
	width: 800px;
}
p.question {
	page-break-after: always;
	page-break-inside: always;
	page-break-before: always;
	width: 400px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	display: block;
}
p.introTitle {
	font-size: 24px;
	text-align: left;
	padding-left: 10px;

}
li {
	width: 300px;
    display: inline-block;
    white-space: nowrap;
}
div {
	overflow: auto;
	white-space: nowrap;
}
div.noScroll {
	overflow: visible;
	white-space: nowrap;
}
li.noScroll {
	display: inline-block;
	height: 10px;
}
div.horizontalScroll {
	background-color: #00FFFF;
    width: 100px;
    height: 100px;
    border: 13px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
div.selectItemAfter {
	background-color: yellow;

}
div.selectItem {
	background-color: #F3F3FC;
}
img {
	max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}
#textBox {
	border-radius: 0px; 
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px; 
	border: 1px dashed #5C2129;
	height: 30px;
	width: 400px;
}

#restrictedWidth {
	width: 400px;
}

#bold {
	font-weight: bold;
}

#intro {
	padding-left: 10px;
}
input, select, textarea{
	outline: none;
	color: #5C2129;
    
}
