body {
    background-color: #FFF3ED;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #5C2129; 
}
p {
	text-align: left;
}
div.header {
	height: 90px;
	background-color: #9C2123;
	font-size: 27px;
	color: #EBBCBC;
	width: 800px;
}


li {
	width: 300px;
    display: inline-block;
    white-space: nowrap;
}
div {
	overflow: auto;
	white-space: nowrap;
}

div.horizontalScroll {
	background-color: #00FFFF;
    width: 100px;
    height: 100px;
    border: 13px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

div.selectItemAfter {
	background-color: yellow;

}
div.selectItem {
	background-color: #F3F3FC;
}

img {
	max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}
#textBox {
	border-radius: 0px; 
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px; 
	border: 1px dashed #9C2123;
	height: 30px;
	width: 400px;
}
